<a class="whatsapp" target="_blank" href="https://wa.me/201212227833">☘</a>
<footer id="contact" class="footer demos-footer"><p data-i18n="footerText">صُمم بواسطة Jorero لتجربة تسوق إلكتروني حديثة ومميزة. للمزيد من المعلومات.</p><p><span data-i18n="address">العنوان</span>: <span data-ar="٩ شارع محمد رشاد شفيق السيوف شماعه، خلف قرية عبد الوهاب للمشويات" data-en="9 Mohamed Rashad Shafik St., El Seyouf Shamaa, behind Abdel Wahab Village Restaurant">٩ شارع محمد رشاد شفيق السيوف شماعه، خلف قرية عبد الوهاب للمشويات</span></p><p><span data-i18n="whatsapp">واتساب</span>: 01212227833 | <span data-i18n="phone">تليفون</span>: 01016002162</p></footer><script src="/public/js/main.js?v=20250624"></script>
</body></html>
