<a class="whatsapp" target="_blank" href="https://wa.me/201212227833">☘</a>
<footer id="contact" class="footer demos-footer"><p>صُمم بواسطة Jorero لتجربة تسوق إلكتروني حديثة ومميزة. للمزيد من المعلومات.</p><p>العنوان: ٩ شارع محمد رشاد شفيق السيوف شماعه، خلف قرية عبد الوهاب للمشويات</p><p>واتساب: 01212227833 | تليفون: 01016002162</p></footer><script src="/public/js/main.js"></script></body></html>
