
<%- include('partials/header') %>

<div class="container">
  <h2>Popular</h2>
  <% products.forEach(p => { %>
    <div class="card">
      <h3><%= p.name %></h3>
      <p><%= p.price %> EGP</p>
    </div>
  <% }) %>
</div>

<div class="bottom-nav">
  <a href="/">🏠<br>Home</a>
  <a href="/products">🍔<br>Menu</a>
  <a href="/cart">🛒<br>Cart</a>
</div>
