<%- include('partials/header') %>
<section class="success-box"><h1 data-i18n="orderSent">تم إرسال طلبك بنجاح ✅</h1><p><span data-i18n="orderNumber">رقم الطلب</span>: <b><%= order._id %></b></p><p><span data-i18n="total">الإجمالي</span>: <b><%= formatPrice(order.total) %></b></p><p data-i18n="willContact">هنراجع الطلب ونتواصل معاك على رقم التليفون.</p><a class="btn big" href="/products" data-i18n="shopOther">تسوق منتجات أخرى</a></section>
<%- include('partials/footer') %>
